@CHARSET "ISO-8859-1";

/* Head Styles */
.header {
    position: relative;
    z-index: 1000;
    background-color: rgb(138, 184, 0);
    width: 100%;
    height: 58px;
    min-width: 1000px;
}

.header img {
	height: 50px;
    padding: 4px;
    float: left;
}

.logo span {
	font-size: 2.8em;
	font-family: Georgia,sans-serif;
	font-style:italic;
	color: rgb(255, 255, 255);
	padding: 5px;
	float: left;
}

.headmenu {
    float: right;
    font-family: arial,sans-serif;
    position: relative;
    z-index: 10000;
}

.headmenu ul {margin: 0px;}

.headmenu li {
    float: left;
    position: relative;
    list-style-type: none;
    margin-top: 0px;
    padding: 5px;
}

.headmenu li span {
	margin: 2px auto;
    position: relative;
    width:24px; 
    height:24px;
    display: block;
    background-size:cover
}

.headmenu li a {
    position: relative;
    line-height: 14px;
    padding: 2px 11px;
    font-size: 16px;
    display: block;
    border: 1px solid rgb(138, 184, 0);
    color: rgb(255, 255, 255);
}

/* icon-white */

.icon-home-w {background:url(../images/ic/icon-home-white.png) center; }
.icon-poker-w {background:url(../images/ic/icon-poker-white.png) center; }
.icon-help-w {background:url(../images/ic/icon-help-white.png) center; }
.icon-about-w {background:url(../images/ic/icon-about-white.png) center; }
.icon-login-w {background:url(../images/ic/icon-login-white.png) center; }

.icon-new-w {background:url(../images/ic/play-icon.png) center; }
.icon-join-w {background:url(../images/ic/join-icon.png) center; }
.icon-leave-w {background:url(../images/ic/exit-icon.png) center; }
.icon-more-w {background:url(../images/ic/more-icon.png) center; }
.icon-list-w {background:url(../images/ic/list-icon.png) center; }



.space {display: inline-block; min-height: 150px; min-width: 1000px; width: 100%;}
.banner { position:absolute; left:0; right:0; top:58px; bottom:0; width:100%; 
	z-index: -1;  min-width: 1000px; overflow: hidden; height: 550px; }
.banner .banner-bottom{ z-index: 8; width: 100%; height: 100px; position: absolute; 
	bottom: 0;  background: url('../images/banner-bottom.png') repeat-x bottom left; }

/* Common */

h1 {
	
}

h2 {
	font-size: 2.5em;
}

h4 {
	font-size: 2em;
}

a {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

body {
	background: transparent url(../images/pattern.png) repeat top left;
}

.wrap {
    width: 1000px;
    margin: 0px auto;
}

.body {
    min-width: 1000px;
    width: 100%;
}

.body .wrap {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid white;
    padding: 0;
}

.content {display:table; padding: 5px;}

.btn-top-container {
	padding: 5px; display: table;
}

.btn-top-container div {cursor: pointer;}

.btn-top-container div:HOVER {opacity: 0.8;}

.btn-top-container .icon { margin: 10px auto; position: relative; width:32px; 
    height:32px; display: block; background-size:cover; color: rgb(255, 255, 255); }

.btn-top-container .text { margin: 10px auto; position: relative; width:64px; text-align:center;
    height:32px; display: block; background-size:cover; color: rgb(255, 255, 255); }

.btn-top{
	margin-right: 5px;
	height: 75px;
	width: 230px;
	padding: 5px;
	float: left;
}

.color-green{background-color: rgb(138, 184, 0);}
.color-gray{background-color: gray;}

.item-container {padding: 5px; display:block; min-height: 450px; margin-top: 10px;
	}
	
.item-container-detail {padding: 5px; display:block; min-height:250px; height: 100%; margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.2); border-radius:5px;}
	
.item-container-head {padding: 5px; display:block; margin-top: 10px;
	background-color: rgba(0, 0, 0, 0.1); border-radius:5px;}
	
.item-container-head h2 {color: gray;}



/* Footer */
.footer {
    position: relative;
    z-index: 1000;
    background-color: rgb(138, 184, 0);
    width: 100%;
    height: 30px;
    min-width: 1000px;
}

.copyright {
	float : left;
	font-family: arial, sans-serif;
	padding: 5px;
}

.footmenu {
    float: right;
    font-family: arial,sans-serif;
    position: relative;
    z-index: 10000;
}

.footmenu ul {margin: 0px;}

.footmenu li {
    float: left;
    position: relative;
    list-style-type: none;
    margin-top: 0px;
    padding: 5px;
}


.btn {
  background: #c2c8cc;
  background-image: -webkit-linear-gradient(top, #c2c8cc, #b3b9bd);
  background-image: -moz-linear-gradient(top, #c2c8cc, #b3b9bd);
  background-image: -ms-linear-gradient(top, #c2c8cc, #b3b9bd);
  background-image: -o-linear-gradient(top, #c2c8cc, #b3b9bd);
  background-image: linear-gradient(to bottom, #c2c8cc, #b3b9bd);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 5px;
}

.btn:hover {
  background: #d4d8db;
  background-image: -webkit-linear-gradient(top, #d4d8db, #c2c0c2);
  background-image: -moz-linear-gradient(top, #d4d8db, #c2c0c2);
  background-image: -ms-linear-gradient(top, #d4d8db, #c2c0c2);
  background-image: -o-linear-gradient(top, #d4d8db, #c2c0c2);
  background-image: linear-gradient(to bottom, #d4d8db, #c2c0c2);
  text-decoration: none;
}

.tablecss {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tablecss table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tablecss tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tablecss table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tablecss table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tablecss tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tablecss tr:hover td{
	
}
.tablecss tr:nth-child(odd){ background-color:#e5e5e5; }
.tablecss tr:nth-child(even)    { background-color:#ffffff; }.tablecss td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Georgia;
	font-weight:normal;
	color:#000000;
}.tablecss tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tablecss tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tablecss tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tablecss tr:first-child td{
		background:-o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");	background: -o-linear-gradient(top,#cccccc,cccccc);

	background-color:#cccccc;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Georgia;
	font-weight:bold;
	color:#000000;
}
.tablecss tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #cccccc 5%, #cccccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #cccccc), color-stop(1, #cccccc) );
	background:-moz-linear-gradient( center top, #cccccc 5%, #cccccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#cccccc", endColorstr="#cccccc");	background: -o-linear-gradient(top,#cccccc,cccccc);

	background-color:#cccccc;
}
.tablecss tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tablecss tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}